footer {
	.FooterMenuBlock{
		background-color: $base;
		padding-top: 5rem;
		padding-bottom: 3rem;
		.col-6{
			margin: 1rem 0;
		}
		h6{
			text-transform: uppercase;
			color: $white;
			letter-spacing: 0.7px;
		}
		ul{
			padding: 0;
			margin-bottom: 0;
			margin-top: 1.8rem;
			list-style: none;
			li{
				margin-top: 3px;
				a{
					text-decoration: none;
					color: $white;
					font-size: 1.3rem;
					transition: 0.3s all;
					&:hover{
						color: $lightblack;
					}
				}
			}
			&.MultipleOption{
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				li{
					margin-top: 2rem;
					flex-basis: 50%;
					@media (min-width: 768px){
						flex-basis: 20%;
						margin-top: 0;
					}
					@media (min-width:1024px){
						flex-basis: unset;
						margin-top: 0;
					}
					a{
						display: flex;
						align-items: center;
						justify-content: flex-start;
						font-size: 1.2rem;
						@media (min-width: 768px){
							font-size: 1rem;
						}
						@media (min-width: 1024px){
							font-size: 1.3rem;
						}
						img{
							margin-right: 10px;
						}
					}
				}
			}
		}
		.BrandDetails{
			text-align: left;
			@media (min-width: 768px){
				text-align: right;
			}
			h6{
				margin-bottom: 1rem;
				margin-top: 2rem;
				font-size: 1.2rem;
				@media (min-width: 768px){
					font-size: 1.6rem;
				}
			}
			p{
				color: $white;
				font-size: 1.3rem;
				br{
					display: none;
					@media (min-width: 768px){
						display: block;
					}
				}
			}
		}
	}
	.BottomFooterBlock{
		background-color: $darkbase;
		padding: 1rem 0;
		@media (min-width: 768px){
			padding: 2rem 0;
		}
		ul{
			display: flex;
			align-items: center;
			justify-content: space-between;
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				font-size: 1rem;
				color: $white;
				@media (min-width: 768px){
					font-size: 1.3rem;
				}
				a{
					color: $white;
					text-decoration: none;
					transition: 0.3s all;
					&:hover{
						color: $black;
					}
				}
			}
		}
	}
}