header{
	position: fixed;
	width: 100%;
	background-color: $white;
	padding: 0;
	z-index: 999;
	// border-bottom: 1px solid #ccc;
	transition: 0.3s all;
	/*box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.12);*/
	&.shadowBox{
		box-shadow: 0 3px 10px rgba(0,0,0,0.05);
		/*.logo{
			box-shadow: 0 30px 20px rgba(0,0,0,0.08);
		}*/
	}
	.logo{	
		
		img{
			margin-bottom: -3.7rem;
			max-width: 77%;	
			transition: 0.3s all;	
			@media(min-width: 768px){
				max-width: 90%;
			}
		}
	}
	.TopMenuBlock{
		padding: 1rem 0 0;
		@media(min-width: 768px){
			padding: 1.5rem 0 0;
		}
		.TopMenu{
			padding: 0;
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			list-style: none;
			li{
				margin-left: 20px; 
				a{
					text-decoration: none;
					font-size: 1.4rem;
					color: $lightblack;
					transition: 0.3s all;
					&:hover{
						color: $base;
					}
				}
			}
		}
	}
	.NavigationBlock{
		ul{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding: 0;
			margin: 2.5rem 0 0;
			list-style: none;
			li{
				margin-left: 17px;
				padding-left: 17px;
				border-left: thin solid rgba(#ccc, 0.5);
				&:first-child{
					margin-left:0;
					padding-left:0;
					border-left: none;
				}
				a{
					text-decoration: none;
					font-family: $secondaryFont;
					text-transform: uppercase;
					font-weight: 600;
					color: $lightblack;
					font-size: 1.6rem;
					letter-spacing: 1px;
					transition: 0.3s all;
					&:hover{
						color: $base;
					}
				}
			}
		}
	}
}

ul.SocialIcons{
    display: flex;
    margin: 0;
    padding: 0;
    li{
      margin-right: 20px;
      margin-bottom: 0;
      margin-left: 0 !important;
      font-size: 16px !important;
      font-weight: 600;
      color: $white;
      font-family: $secondaryFont;
      &:first-child{
        margin-right: 20px;
      }
      &:last-child{
        margin-right: 0px;
      }
      a{
        color: $white;
        display: flex;
        padding: 4px;
        align-items: center;
        justify-content: center;
        border: thin solid $lightblack;
        border-radius: 50px;
        transition: 0.2s ease-in-out;
        svg{
          width: 13px;
          height: 13px;
          fill: $lightblack;
          transition: 0.2s ease-in-out;
        }
        &:hover{
          border-color: $base;
          svg{
            fill: $base;
          }
        }
      }
    }
    @media(min-width: 480px){
      display: flex;
    }
    @media(min-width: 768px){
      display: flex;
    }
    @media(min-width: 1024px){
      display: flex;
    }
    @media(min-width: 1300px){
      display: flex;
    }
  }


nav {
  display: block;
  background: #E95546;
}

.menu { display: none}

.menu li {
  display: inline-block;
  position: relative;
  z-index: 100;
}

.menu li:first-child { margin-left: 0; }

.menu li a {
  font-weight: 600;
  text-decoration: none;
  padding: 7px 15px;
  display: block;
  color: #fff;
  transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover,
.menu li:hover>a {
  color: #fff;
  background: #FC6D58;
}

.menu ul {
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 170px;
  position: absolute;
  left: 0px;
  background: #fff;
  z-index: 99;
  transform: translate(0, 20px);
  transition: all 0.2s ease-out;
}

.menu ul:after {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}

.menu ul li {
  display: block;
  float: none;
  background: none;
  margin: 0;
  padding: 0;
}

.menu ul li a {
  font-size: 12px;
  font-weight: normal;
  display: block;
  color: #797979;
  background: #fff;
}

.menu ul li a:hover,
.menu ul li:hover>a {
  background: #FC6D58;
  color: #fff;
}

.menu li:hover>ul {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.menu ul ul {
  left: 169px;
  top: 0px;
  visibility: hidden;
  opacity: 0;
  transform: translate(20px, 20px);
  transition: all 0.2s ease-out;
}

.menu ul ul:after {
  left: -6px;
  top: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 6px;
  margin-top: -6px;
}

.menu li>ul ul:hover {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.responsive-menu {
  display: none;
  width: 100%;
  padding: 0;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  text-align: right;
  span{
  	width: 30px;
  	height: 3px;
  	background-color: $base;
  	display: block;
  	margin-top: 4px;
  }
}

.responsive-menu:hover {
  color: #000;
  text-decoration: none;
}

a.homer { background: #FC6D58; }


@media (min-width: 768px) and (max-width: 979px) {

.mainWrap { width: 768px; }

.menu ul { top: 37px; }

.menu li a { font-size: 12px; }

a.homer { background: #E95546; }

}

@media (max-width: 767px) {

.mainWrap {
  width: auto;
  padding: 50px 20px;
}

.menu { display: none; padding: 0; margin: 3rem 0 0;}

.responsive-menu { display: flex; align-items: flex-end; justify-content: flex-end; flex-direction: column;margin-bottom: 7px;}

nav {
  margin: 0;
  background: none;
}

.menu li {
  display: block;
  margin: 0;
}

.menu li a {
  background: #fff;
  color: #797979;
}

.menu li a:hover,
.menu li:hover>a {
  background: #FC6D58;
  color: #fff;
}

.menu ul {
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transform: initial;
}

.menu li:hover>ul {
  visibility: visible;
  opacity: 1;
  position: relative;
  transform: initial;
}

.menu ul ul {
  left: 0;
  transform: initial;
}

.menu li>ul ul:hover { transform: initial; }

}