.BannerBlock{
	background-size: cover !important;
	position: relative;
	height: 87vh;
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		background-color: rgba($base, 0.5);
	}
	.container{
		height: 100%;
	}
	.ContentBox{
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;	
		img{
			position: absolute;
			width: 100%;
			top: 20px; left: 0; bottom: 0; right: 0;margin: auto;
		}
		.BannerContent{
			max-width: 520px;
			position: relative;
    		z-index: 9;
			h3{
				font-weight: 100;
				color: $white;
			}
			h1{
				color: $white;
				margin: 0;
			}
			p{
				margin-bottom: 0;
				margin-top: 3rem;
				font-weight: 100;
				color: $white;
				line-height: 1.5;
				font-family: $primaryFont;
			}
		}	
	}
}