.BorderBtn{
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 600;
	color: $base;
	border: thin solid $base;
	padding: 15px 0;
	border-radius: 50px;
	display: block;
    max-width: 200px;
    text-align: center;
    margin: 3rem auto 0;
    text-decoration: none;
    transition: 0.5s all;
    box-shadow: unset;
    position: relative;
    z-index: 9;
    @media (min-width: 768px){
    	max-width: 270px;
    	padding: 22px 0;
    }
    &:before{
    	content: "";
    	position: absolute;
    	width: 0;
    	height: 100%;
    	background-color: transparent;
    	transition: 0.5s all;
    	top: -1px;
    	left: -1px;
    	right: 0;
    	border-radius: 50px;
    	z-index: -1;
    }
    &:hover{
    	border-color: transparent;
    	color: $white;
    	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.12);
    	&:before{
    		background-color: $base;
    		width: 100%;
    	}
    }
}