.CenterContent{
	background-size: cover !important;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	@media (min-width: 768px){
		background-size: cover !important;
	}
	h2{
		text-align: center;
		text-transform: uppercase;
		color: $base;
	}
	h6{
		text-align: center;
		text-transform: uppercase;
		color: $lightblack;
		margin-bottom: 3rem;
	}
	p{
		text-align: center;
		margin-top: 2rem;
		margin-bottom: 0;
		color: $lightblack;
		line-height: 1.8;
	}
}