.LeftImgRightContent{
	position: relative;
	background-color: $lightbase;
	.LeftImage{
		position: absolute;
		top: 0;
		width: 50%;
		height: 100%;
		img{
			object-fit: cover;
			object-position: 50% 50%;
			display: block;
		}
	}
	.RightContent{
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		height: 100%;
		a{

		}
	}
	.SideAlignedImageDiv{
		position: static;
		width: 100%;
		height: auto;
		overflow-x: hidden;
		overflow-y: hidden;
		@media(min-width: 678px){
			width: 50%;
			height: 100%;
			position: absolute;
			top: 0;
		}
		&.rightAlignedImage{
			right: 0;
			padding-left: 0;
			@media(min-width: 678px){
				padding-left: 0;
			}
		}
		&.LeftAlignedImage{
			left: 0;
			padding-right: 0;
			@media(min-width: 678px){
				padding-right: 0;
			}
		}
		img{
			width: 100%;
			display: block;
			height: auto;
			object-fit: cover;
			object-position: 50% 50%;
			@media(min-width: 678px){
				height: 100%;
			}
		}
	}
	.RightContentLeftAlignedImage,.LeftContentRightAllignedImage{
		position: relative;
		min-height: auto;
		display: block;
		@media(min-width: 678px){
			display: flex;
	    	align-items: center;
	    	min-height: 500px;
		}
		@media(min-width: 1400px){
	    	min-height: 690px;
		}
	}
	.ContentBlock{
		h6{
			margin-bottom: 2rem;
			@media(min-width: 768px){
				margin-bottom: 3rem;
			}
			@media(min-width: 1024px){
				margin-bottom: 3.5rem;
			}
		}
		p{
			line-height: 1.6;
		}
		.BorderBtn{
			margin: unset;
			margin-top: 3rem;
		}
	}
	.RightContentLeftAlignedImage{
		.ContentBlock{
			padding-left: 0rem;
			margin: 3rem 0;
			@media(min-width: 768px){
				padding-left: 5rem;
				margin: 0;
			}
		}
	}
	.LeftContentRightAllignedImage{
		.ContentBlock{
			padding-right: 0rem;
			margin: 3rem 0;
			@media(min-width: 768px){
				padding-right: 4rem;
				margin: 0;
			}
		}
	}
}