.OurProducts{
	background-color: $offwhite;
	h6{
		text-align: center;
		letter-spacing: 1px;
	}
	a{
		box-shadow: 0 10px 15px 5px rgba(0,0,0,0.08);
		display: block;
		text-decoration: none;
		transition: 0.3s all;
		position: relative;
		.ProductImage{
			margin-top: 3rem;
			img{
				width: 100%;
			}
		}
		.ProductDetails{
			padding: 1.2rem;
			padding-bottom: 3rem;
			min-height: 190px;
			@media (min-width: 768px){
				min-height: 210px;
				padding: 3rem;
				padding-bottom: 6rem;
			}
			h4{
				font-size: 1.8rem;
				color: $base;
				@media(min-width: 768px){
					font-size: 2.2rem;
				}
			}
			ul{
				padding: 0 0 0 18px;
				list-style: circle;
				margin-bottom: 0;
				margin-top: 1rem;
				li{
					font-size: 1.3rem;
					color: $base;
					margin-top: 3px;
					span{
						color: $lightblack;
					}
				}
			}
		}
		.ProductLink{
			position: absolute;
			right: 0;
			bottom: 0;
			background-color: $base;
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 0.3s all;
			img{    				
    			transition: 0.3s all;
    			transform: unset;
			}
			@media (min-width: 768px){
				width: 50px;
				height: 50px;
			}
		}
		&:hover{
			box-shadow: 0 10px 15px 5px rgba(0,64,35,0.1);
			.ProductLink{
				background-color: $lightblack;
				img{
					transform: rotate(360deg);
				}
			}
		}
	}
	.ProductCTA{
		display: flex;
		max-width: 100%;
    	margin: 0 auto;
    	@media (min-width: 768px){
    		max-width: 580px;
    	}
		a{
			flex-basis: 160px;
			margin-top: 2rem;
			box-shadow: unset;
			@media (min-width: 768px){
				margin-top: 5rem;
				flex-basis: 270px;
			}
		}
	}
}