* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  background: $white;
}
body {
  font: 400 16px/1.4 $primaryFont;
  color: $black;
  transition: all .4s .3s ease-in;
}
body,html{
	min-height: 100vh;
  padding: 0;
  margin: 0;
	// overflow: hidden;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-family: $primaryFont;
  @media (min-width: 768px){
    font-size: 1.5rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 3.5rem;
  @media (min-width: 768px){
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 3rem;
  @media (min-width: 768px){
    font-size: 4rem;
  }
}

h3 {
  font-size: 2rem;
  @media (min-width: 768px){
    font-size: 2.8rem;
  }
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6{
  font-size: 1.6rem;
  @media (min-width: 768px){
    font-size: 1.8rem;
  }
}

img {
  max-width: 100%;
}

.DesktopOnly{
  display: none;
  @media (min-width: 768px) {
      display: block;
    }
}

.MobileOnly{
  @media (min-width: 768px) {
      display: none;
    }
}

.MobileSpaceOnly {
  padding-top: 3rem;
  @media (min-width: 768px) {
    padding-top: 0;
  }
}

.BottomBar{
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: $base;
  &:after{
    content: "";
    position: absolute;
    width: 70px;
    height: 3px;
    background-color: $base;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &.LeftBar{
    text-align: left;
    &:after{
      right: unset;
    }
  }
}

.ML-Auto {
    margin-left: auto;
}