$base : #004023;
$darkbase : #02361E;
$black: #000;
$lightblack: #030303;
$white: #fff;
$offwhite: #FBFCFA;
$lightbase: #F0F4ED;

$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Lato', serif;

